@import url(https://fonts.googleapis.com/css?family=Open+Sans);

$black: #333;
$white: #ccc;

html {
  background-color: $black;
};

body {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: Open Sans;
  background-color: $black;
};

.navbar {
  margin-bottom: 20px;
};

.navbar-default .navbar-brand, .jumbotron {
  color: $black;
};

.ng-dirty.ng-invalid {
  border-color: red;
}

.pointer {
  cursor: pointer;
}

.top-right {
  position: fixed;
  top: 50px;
  right: 50px;
  width: 20%;
}