
<form name="createForm" ng-submit="createForm.$valid && vm.create()" novalidate>
  <div class="form-group">
    <label for="pollTitle">Title</label>
    <input ng-model="vm.poll.title" type="text" class="form-control" id="pollTitle" placeholder="enter title" required>
  </div>
  <div class="form-group">
    <label for="pollOptions">Options (one per line)</label>
    <textarea ng-model="vm.poll.options" id="pollOptions" class="form-control" rows="5" required></textarea>
  </div>

  <button type="submit" class="btn btn-default btn-primary">Submit</button>
</form>